.banner{
  display:flex;
  flex-direction: row;
  align-items: center;
}
.banner-title{
  width:200px;
  font-size:32px;
  font-weight: 700;
  margin-right: 80px;
}
.banner-description{
  width:270px;
}
@media (max-width:1540px) and (min-width:1019px){
  .banner{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .banner-description{
    width:500px;
    margin-bottom: 5px;
  }
  .banner-title{
    width:450px;
    margin-bottom: 10px;
  }
}
.color1{
  color: #FEA301;
}
.color2{
 color :#01ACFD;
}
.enroll-button{
  background-color: black;
  color:white;
  font-weight:500;
  font-size:18px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 9px;
  padding-bottom: 9px;
  margin-top: 15px;
  border-radius: 10px;
  border: none;
}
.enroll-button:hover{
  background-color: white;
  color:black;
  border:1px solid black;
}
.curriculum-header-container{
    font-weight: 700;
    font-size: 23px;
    margin-top:26px;
    overflow: hidden;
    display:block;
    position: absolute;
    white-space: nowrap;
    width:100%;
}
@media (max-width:1540px) and (min-width:1020px){
  .table-container{
    display:flex;
    flex-direction: row;
  }
  .table-container .table-1,
  .table-container .table-2,
  .table-container .table-3{
    width:420px;
    height:320px;
  }
  .table-title{
    text-align: center;
    font-size:20px;
    margin-left: 45px;
    width: 300px;
  }
.table-container .table-description{
  width:330px;
  text-align: center;
  margin-right: 40px;
}
.story-section .story-table-title{
  margin-left:30px;
}
.middle-side,
.right-side{
  justify-items: center;
}
li{
  margin-right: 54px;
}
.view-all-button-container{
  display:flex;
  justify-content: center;
  align-items: center;
}
.story-container-1{
  width:542px;
}
.story-container-2,
.story-container-3,
.story-container-4,
.story-container-5{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 430px;
  height:260px;
  margin-left:0px;
}
.story-description{
  width:250px;
  margin-left: 20px;
}
}
.table-container{
  display: flex;
  flex-direction:row;
  justify-content: center;
  margin-left: 60px;
}
.table-1,
.table-2,
.table-3{
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top:95px;
  width:170px;
  height:530px;
  padding-top: 22px;
  border-radius: 15px;
}
.table-1{
  border: 1px solid #01ACFD;
  background:linear-gradient(to bottom,#dcecf4,white) ;
}
.table-2{
  border: 1px solid #FEA301;
  background:linear-gradient(to bottom,#f0e6d4,white) ;
}
.table-3{
  border: 1px solid #5D58EF;
  background:linear-gradient(to bottom,#dcdceb,white) ;
}
.table-title{
  font-weight: 700;
  font-size:25px;
  text-align: center;
  margin-bottom: 0px;
  margin-top: 0px;
}
.table-description{
  text-align: center;
  width:85px;
  margin-top: 0px;
  margin-left: 30px;
}
.tb-1,
.tb-2,
.tb-3{
  font-size:18px;
  font-weight: 500;
  text-align: center;
}
.tb-1{
  color:#01ACFD;
}
.tb-2{
  color:#FEA301;
}
.tb-3{
  color:#5D58EF;
}
.arrow{
  height:50px;
  margin-top: 60px;
  margin-left: 16px;
}
.arrow-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.story-table-title{
  font-size:24px;
  font-weight: 700;
  text-align: center;
  margin: 60px 0px 22px 0px;
}
.story-table-container{
  display:flex;
  flex-direction: row;
}
.story-container-right-side{
  display: flex;
  flex-direction: row;
}
.story-2nd-column,
.story-3rd-column{
  margin-left:25px;
}
.story-container-1{  
  padding-top:10px;
  border: 1px solid #FEA301;
  border-radius: 10px;
  margin-left: 22px;
}
.story-container-2,
.story-container-3,
.story-container-4,
.story-container-5{
  border-radius: 10px;
  border: 1px solid #FEA301;
  padding:10px  0px;
}
.story-date-2,
.story-date-3,
.story-date-4,
.story-date-5{
  font-size: 14px;
  font-weight:500;
  margin: -5px 50px 0px 80px;
  border-radius: 10px;
  padding: 10px 14px;
  text-align: center;
}
.story-date-1{
  font-size: 14px;
  font-weight:500;
  margin: -5px 370px 0px 20px;
  padding: 10px 14px;
  border-radius: 10px;
  background-color:#01ACFD ;
}
.story-date-2{
  background-color: #95B226;
}
.story-date-4{
  background-color: #FEA301;
}
.story-date-3{
  background-color: #5D58EF;
}
.story-date-5{
  background-color: #05D4DF;
}
.story-description{
  font-size:18px;
  font-weight: 700;
  text-align: center;
}
.story-description-title{
  font-size:24px;
  font-weight: 700;
}
.view-all-button{
  background-color: black;
  color:white;
  font-size: 18px;
  height:36px;
  width: 140px;
  display: flex;
  justify-items: center;
  align-items: center;
  padding-left: 35px;
  margin-top:40px;
  margin-bottom: 80px;
  border-radius: 10px;
}
.main{
  background-image: url("https://img.freepik.com/free-vector/flat-colored-triangles-background_91008-284.jpg?t=st=1739083870~exp=1739087470~hmac=48f19ebf3ece1982974457a0f85778259f2acd93bf874f53c618bc16eadd7e0e&w=996");
  background-size: cover;
  background-repeat: no-repeat;
}
ul{
  list-style-type: none;
}
li{
  margin-top: 10px;
  font-weight: 500;
  font-size:20px;
  justify-items: left;
  margin-left: 0px;
}
.list-title{
  font-size: 24px;
  font-weight: 700;
  margin-top: 18px;
  margin-bottom: 20px;
  margin-left:40px;
}
.footer{
  background-color: #01ACFD;
  color:white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}
.logos-title{
  font-size: 24px;
  font-weight: 700;
}
.logo-title{
  font-size:30px ;
  font-weight: 700;
}
@media (max-width:1020px) and (min-width:570px){
  .story-container-1{
    display:none;
  }
  .story-container-right-side{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left:10px;
  }
  .story-description{
    width:250px;
    margin-left: 70px;
  }
  .view-all-button-container{
    display:flex;
    justify-content: center; 
    align-items: center;
  }
}
@media (max-width:570px){
  .banner{
    display:flex;
    flex-direction: column-reverse;
  }
  .banner-title{
    width:400px;
    text-align:center ;
    margin-top:15px;
    margin-left:40px;
  }
  .banner-description{
    width:495px;
    text-align: center;
    margin-left: 12px;
  }
  .enroll-button{
    margin-left: 170px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .table-container{
    display:flex;
    flex-direction: column;
    margin-top:70px;
    justify-content: center;
    align-items: center;
  }
  .table-container .table-1,
  .table-container .table-2,
  .table-container .table-3{
    width:440px;
    height:320px;
    margin-top:30px;
    display:flex;
    justify-content: center;
    align-items: center;
  }
  .table-title{
    text-align: center;
    font-size:20px;
    width: 300px;
  }
  .table-container .table-description{
    width:330px;
    text-align: center;
  }
  .story-container-1{
    display:none;
  }
  .story-container-right-side{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .story-container-2,
  .story-container-3,
  .story-container-4,
  .story-container-5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 410px;
    height:260px;
    margin-left:10px;
  }
  .story-description{
    width:250px;
    margin-left: 70px;
  }
  .view-all-button-container{
    display:flex;
    justify-content: center; 
    align-items: center;
  }
  .footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer .list-title{
    text-align: center;
    margin-right:70px;
  }
  .left-side{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .logo{
    margin-right:130px;
  }
  .logo-description{
    width: 480px;
    text-align: center;
  }
  ul{
    display: none;
  }
}