.header{
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  justify-content: center;
}
.logo{
  display: inline-block;
}
.left-section{
  display:flex;
  flex-direction: row;
}
h1 {
    display: inline-block;
    font-size: 24px;
  }
  
.middle-section p{
  font-size: 20px;
  font-weight: 500;
}
.middle-section{
  display:flex;
  justify-content:space-between ;
  align-items: center;
}
.right-section{
  display: flex;
  justify-content: center;
}
.contact-button{
  background-color: #FEA301;
  color:white;
  font-size:18px;
  margin-top: 10px;
  margin-left:3px ;
  height:36px;
  width:150px;
  border:none;
  border-radius: 10px;
}
.home-color{
  color:#FEA301;
}
.about-color{
  color:#01ACFD;
}
.Facilities-color{
  color:#05D4DF;
}
.admission-color{
  color:#5D58EF;
}
@media (max-width:1540px) and (min-width:700px){
  .header{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
  }
  .left-section{
    justify-content: center;
  }
}
